<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>branch_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,529},{173,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,87}}</string>
                <key>sourceSize</key>
                <string>{173,87}</string>
            </dict>
            <key>branch_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,472},{173,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,87}}</string>
                <key>sourceSize</key>
                <string>{173,87}</string>
            </dict>
            <key>branch_purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{173,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,87}}</string>
                <key>sourceSize</key>
                <string>{173,87}</string>
            </dict>
            <key>branch_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,383},{173,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,87}}</string>
                <key>sourceSize</key>
                <string>{173,87}</string>
            </dict>
            <key>branch_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,294},{173,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,87}}</string>
                <key>sourceSize</key>
                <string>{173,87}</string>
            </dict>
            <key>trunk_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{248,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,144}}</string>
                <key>sourceSize</key>
                <string>{248,144}</string>
            </dict>
            <key>trunk_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,148},{248,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,144}}</string>
                <key>sourceSize</key>
                <string>{248,144}</string>
            </dict>
            <key>trunk_purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{248,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,144}}</string>
                <key>sourceSize</key>
                <string>{248,144}</string>
            </dict>
            <key>trunk_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{248,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,144}}</string>
                <key>sourceSize</key>
                <string>{248,144}</string>
            </dict>
            <key>trunk_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{248,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,144}}</string>
                <key>sourceSize</key>
                <string>{248,144}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tower_trunk_branch.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:438fb2154b9c8a186eb05056236a882c:1/1$</string>
            <key>textureFileName</key>
            <string>tower_trunk_branch.png</string>
        </dict>
    </dict>
</plist>
